<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Вход</h1>
<form name="loginForm">
    <label>Имя</label></br>
    <input type="text" name="userEmail"/></br></br>
    <label>Пароль</label></br>
    <input type="password" name="userPassword"/></br></br>
    <button id="submit_btn" type="submit">Войти</button>
    <p id="demo"></p>
</form>
<a href="/registration">Registration</a>
<script>

    document.getElementById("submit_btn").addEventListener("click", function (e) {
        e.preventDefault();
        // получаем данные формы
        console.log("login")
        let loginForm = document.forms["loginForm"];
        let userEmail = loginForm.elements["userEmail"].value;
        let userPassword = loginForm.elements["userPassword"].value;
        let user = JSON.stringify({userEmail: userEmail, userPassword: userPassword});
        let request = new XMLHttpRequest();
        request.open("POST", "/users/login", true);
        request.setRequestHeader("Content-Type", "application/json");
        request.addEventListener("load", function () {
            const responseBody = JSON.parse(request.response);
            document.getElementById("demo").innerHTML = responseBody;
            localStorage.setItem("accessToken", responseBody.data.access_token)
            localStorage.setItem("email", responseBody.data.email)
            localStorage.setItem("username", responseBody.data.username)
            window.location.href = "/"
        });
        request.send(user);
    });
</script>
</body>
<html>