<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Регистрация</h1>
<form name="registerForm">
    <label>Имя</label></br>
    <input type="text" name="userName"/></br></br>
    <label>Почта</label></br>
    <input name="userEmail" type="email"/></br></br>
    <label>Пароль</label></br>
    <input type="password" name="userPassword"/></br></br>
    <button type="submit" id="submit_btn">Отправить</button>
    <p id="demo"></p>
</form>
<script>

    document.getElementById("submit_btn").addEventListener("click", function (e) {
        e.preventDefault();
        // получаем данные формы
        let registerForm = document.forms["registerForm"];
        let userName = registerForm.elements["userName"].value;
        let userEmail = registerForm.elements["userEmail"].value;
        let userPassword = registerForm.elements["userPassword"].value;
        // сериализуем данные в json
        let user = JSON.stringify({userName: userName, userEmail: userEmail, userPassword: userPassword});
        let request = new XMLHttpRequest();
        request.open("POST", "/users/registration", true);
        request.setRequestHeader("Content-Type", "application/json");
        request.addEventListener("load", function () {
            const responseBody = JSON.parse(request.response);
            document.getElementById("demo").innerHTML = responseBody;
            localStorage.setItem("accessToken", responseBody.data.access_token)
            localStorage.setItem("email", responseBody.data.email)
            localStorage.setItem("username", responseBody.data.username)
            window.location.href = "/"
        });
        request.send(user);
    });
</script>
</body>
<html>